<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD Productos</title>
     <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>   -->
 <!-- <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}"> -->
     <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <link href="/static/css/styles.css" rel="stylesheet" id="style-css">
    <script src="/static/js/jquery.min.js"></script>  
     <script src="/static/js/bootstrap.min.js"></script>  
    
</head>
<body>
 <header>
      <nav class="navbar navbar-inverse">
        <abbr title="Ir a inicio"><a href="/"  ><img src ="static/img/home.png" class="navbar-brand iconos" alt="Ir a home"></a></abbr>
        <abbr title="Ir a insertar nuevo producto"><a href="/product"><img src ="static/img/boton-agregar.png" class="navbar-brand iconos" alt="Agregar" ></a></abbr>
        <abbr title="Ver todos los productos"><a href="/api/products"><img src ="static/img/lista.png" class="navbar-brand iconos" alt="MostrarProductos" ></a></abbr>
      </nav>
    </header>
   
    {{{body}}}
<footer>Yessica Orihuela Castillo-16212054. Copyright &copy; 2021</footer>  
</body>

</html>