<!DOCTYPE html>
<html lang="en">
<head>
   
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/static/css/styles.css" rel="stylesheet" id="style-css">
     <script src="/static/js/bootstrap.min.js"></script>   
    <title>Insertar producto</title>
</head>
    <section class="hero">
        <div class="hero-content">  
            <h2>Nuevo Producto</h2>
        </div>
    </section>
    <main>
    <div class="container">
        <form action ="/api/product" method="POST">
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <label>Nombre</label>
                <input type="text" class="form-control input-borde" value="" name="name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <label>Precio</label>
                <input type="number" class="form-control input-borde" value="" name="price">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <label>Categoria</label>
                <select name = "category" class="form-control input-borde">
                    <option value="computers">Computers</option>
                    <option value="phones">Phones</option>
                    <option value="accesories">Accesories</option>
                </select> 
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <label>Descripción</label>
                <input type ="text" class="form-control input-borde" value="" name="description">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <label>Imagen</label>
                <input type ="text" class="form-control input-borde" value="" name="image">
            </div>
        </div>
        <br><br>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <button class="form-control btn btn-primary btn-color " type="submit">Guardar</button>
            </div>
        </div>
        </form>
        </main>
    </div>
</html>

